<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body>

{% load staticfiles %}

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'apage/style.css' %}"/>

    <div class="container">
        <div class="row header-box">
            <div class="col-md-8">
                <h1>
                    <a href="{% url 'apage:index' %}" style="text-decoration: none">Quotes</a>
                </h1>
            </div>
            <div class="col-md-4">
                <p>
                    <a href="#">Sign UP</a>
                    <a href="#">Login</a>
                    <a href="#">Logout</a>
                    <a href="{% url 'apage:add_quote' %}">Add Quote</a>
                </p>
            </div>
        </div>
    </div>

{% block content %}
{% endblock %}
</body>
</html>