
{% extends 'apage/base.html' %}
{% block content %}
    <h3>Welcome to WOT </h3>

    {% for quote in all_quotes %}
    <div class="row">
        <div class="col-md-8">

            <div class="quote" itemscope itemtype="#">
                <span class="text" itemprop="text">{{ quote.text }}</span>
                <span>by <small class="author" itemprop="author">{{ quote.artist }}</small>
                <a href="{% url 'apage:detail' quote.id %}">(about)</a>
                </span>
                {% include 'apage/form-delete.html' %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}